$price-color:#4caf50;
$quentity-color:#8f8f8f;

.colour-red{
    color: red;
}
.font-12px{
    font-size: 12px;
}
.float-right{
    float: right;
}
.colour-gray{
    color: #5a6268;
}
.cart-priview{
    position: absolute;
    margin-top: 50px;
    z-index: 1;
}
.cart-priview-header{
    box-shadow: 0 1px 10px $quentity-color;
    border-radius: 10px;
    height: auto;
    display: flex;
    float: right;
    margin-right: 21%;
    padding: 15px 15px 10px 35px ;
    background-color: white;
    position: relative;
    .cart-content{
        width: 300px;
    }
    .cart-d-img img{
        width: 100%;
    }
    .cart-d-details{
        .cart-d-quentity{
            color: $quentity-color;
        }
    }
    .cart-d-price h5{
        display: flex;
        float: right;
        color: $price-color;
        vertical-align: text-bottom;
    }
    .cart-values p{
        display: flex;
        float: right;
        // font-weight: bold;
    }
}
.cart-priview-header1{
    padding: 10px 20px 15px 20px ;
}
.cart-empty{
    width: 130px;
    height: 140px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    margin: auto;
}

.cart-empty-text{
    margin-bottom: 0;
    display: flex;
    justify-content: center;
}
@media(max-width:992px){
    .cart-priview{
        margin-top: 50px;
    }
    .cart-priview-header{
        height: auto;
        margin-right: 26%;
        padding: 15px 15px 0 35px ;
    }
}
@media(max-width:576px){
    .cart-priview{
        margin-top: 48px;
    }
}
@media(max-width:450px){
    .cart-priview-header{
        display: flex;
        float: right;
        width: 85%;
        margin-right: 5%;
        margin-left: 11%;

        .cart-d-price p{
            font-size: 12px;
        }
        .cart-values p{
            font-size: 12px;
        }
    }
    .cart-priview-header1{
        width: auto;
        margin-right: 11%;
        padding: 5px 10px;
    }
}
.triangle{
    color: gray;
    font-weight: lighter;
    margin-left: 47.5%;
    margin-top: -20%;
    z-index: 0;
}
.cart-trash{
    width: 17px;
}
.cart-trash:hover{
    cursor: pointer;
}
.cart-items{
    max-height: 250px;
    overflow-y: auto;
}
.hr{
    width: 93%;
}
.cart-checkout{
    border: none !important;
    font-size: 11px !important;
    height: unset !important;
    width: unset !important;
    border-radius: 30px !important;
    padding: 5px 30px;
    margin-left: -10px;
}