$price-color:#4caf50;
$quentity-color:#8f8f8f;

.colour-red{
    color: red;
}
.font-12px{
    font-size: 12px;
}
.float-right{
    float: right;
}
.colour-gray{
    color: #5a6268;
}
.cart-priview{
    position: absolute;
    margin-top: 60px;
    z-index: 1;
}
.cart-priview-header{
    box-shadow: 0 1px 10px $quentity-color;
    border-radius: 10px;
    height: auto;
    display: flex;
    float: right;
    margin-right: 20%;
    padding: 20px 10px 0 25px ;
    background-color: white;
    position: relative;
    .cart-content{
        width: 360px;
    }
    .cart-d-img img{
        width: 100%;
    }
    .cart-d-details{
        .cart-d-quentity{
            color: $quentity-color;
        }
    }
    .cart-d-price h5{
        display: flex;
        float: right;
        color: $price-color;
        vertical-align: text-bottom;
    }
    .cart-values h5{
        display: flex;
        float: right;
        font-weight: bold;
    }
}

.cart-empty{
    width: 130px;
    padding-left: 10px;
    padding-right: 10px;
}

.cart-empty-text{
    margin-bottom: 0;
    display: flex;
    justify-content: center;
}
@media(max-width:992px){
    .cart-priview{
        margin-top: 63px;
    }
    .cart-priview-header{
        height: auto;
        margin-right: 33%;
        padding: 20px 10px 0 25px ;
    }
}
@media(max-width:576px){
    .cart-priview{
        margin-top: 48px;
    }
}
@media(max-width:450px){
    .cart-priview-header{
        width: 95%;
        margin-right: 2%;
        margin-left: 2%;
        padding: 5px 10px;
        h5{
            font-size: 15px;
        }
    }
}
.triangle{
    color: gray;
    font-weight: lighter;
    margin-left: 47.5%;
    margin-top: -20%;
    z-index: 0;
}
.cart-trash{
    width: 17px;
}
.cart-trash:hover{
    cursor: pointer;
}
.cart-items{
    max-height: 250px;
    overflow-y: auto;
}
.hr{
    width: 93%;
}
.cart-checkout{
    border: none !important;
    font-size: 11px !important;
    height: unset !important;
    width: unset !important;
    border-radius: 30px !important;
    padding: 5px 30px;
    margin-left: -10px;
}