@import "src/assets/styles/variables/variables";

.category {

  h2 {
    color: $category-header-font-color;
  }


  .category-item:enabled {
    background-color: red !important;
  }

  .card {
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
    width: 180px;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .card-img {
      width: 80%;
      height: auto;
      padding: 10px;
      object-fit: contain;
    }
  }

  .card:hover {
    background-color: #a7ee75;
  }

  @media (max-width: $md-screen-size) {
    .card {
      height: 110px !important;
      margin: 5px;
      padding: 1px;
    }

    .category-item {
      display: flex;
      flex-direction: column !important;
      justify-content: center;
      justify-items: center;
      align-items: center;

      .card-title {
        font-size: 9px !important;
        display: block !important;
      }

      .card-img {
        max-width: 100% !important;
        height: 70px !important;
        padding-bottom: 0;
      }
    }
  }
  @media (max-width: $lg-screen-size) {
    .category-item {
      display: flex;
      flex-direction: column !important;
      justify-content: center;
      justify-items: center;
      align-items: center;
      margin: 0 8px;

      .card-img {
        max-width: 100% !important;
        padding-bottom: 5px;
      }
    }
  }
  @media (max-width: $xs-screen-size) {
    .card {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 90%;
      height: 50px;
    }


    .card-title {
      font-size: large;
      font-weight: bold;
      width: 100%;
    }
  }

}




