.payment-method {

  .payment-method-card {

    [type=radio] {
      position: absolute;
      opacity: 0;
      width: 0;
      height: 0;
    }

    border: 1px solid #CCE4FE;
    border-radius: 3px;

    label:hover {
      cursor: pointer !important;
    }


  }

  .selected-payment-method{
    outline: 2px solid red !important;
  }
}

