.payment-method {
  [type=radio] {
    position: absolute;
    opacity: 0;
  }

  [type=radio] + img {
    cursor: pointer;
  }

  [type=radio]:checked {

  }

  img {
    height: 90px;
  }

  .payment-method-card {
    border: 1px solid #CCE4FE;
    border-radius: 3px;

    label:hover{
      cursor: pointer !important;
    }

    &:focus-within {
      outline: 2px solid #4CAF50;
    }
  }
}

