$grey: #ECECEC;
$icon-grey: #8E8E8E;
$apply-green: #4CAF50;

.checkout-table {
  font-size: 20px;
  width: 100% !important;

  td, th {
    vertical-align: middle;
    white-space: nowrap !important;
    font-weight: 500;
  }

  td:nth-child(7){
    text-align: right;
  }

  th:nth-child(3) {
    //min-width: 340px !important;
    //max-width: 470px !important;
    width: 45% !important;
    max-width: 45% !important;
  }

  :not(:first-child) {
    border-top: 0;
  }

  .table-item-icon {
    color: $icon-grey;
  }

  .apply-discount {
    background-color: $apply-green;
    border: none;

    &:focus {
      box-shadow: none;
    }
  }

  .discount-input {
    border: 1px solid #ced4da;
    box-shadow: none;
  }

  .discount-code-text {
    font-size: 17px !important;
    font-weight: 500;
  }
}

.checkout-table-item-image {
  width: 100px;
}

.checkout {
  border: 2px solid $grey;
  border-radius: 10px;
}

.page-title {
  font-weight: 600;
}

.text-red{
  color: #FF3939;
}
.checkout-total td {
  border-bottom-width: 0 !important;
}
