.login-and-signup {
  background-color: #e1ffc1;
  padding: 3rem 10rem;

  height: 70vh;
}

.login {
  background-color: white;
}

.signup {
  background-color: #fff;
  border-radius: 0 1.5rem 1.5rem 0;
  text-align: center;
  h2 {
    color: $price-color;
  }

  .data-field {
    width: 70%;
    margin: auto;
    height: 2.5rem;

    input {
      border: 0px;
      height: 2.5rem;
      background-color: #f5f8f7;
      font-size: 0.9rem;
      font-weight: 500;
      color: #000;

    }
  }
  .signup-button{
    background-color: $price-color;
    border: none;
    height: 2.5rem;
    width: 10rem;
    border-radius: 1.25rem;
    font-weight: 500;
  }
}