$quentity-color: #cacaca;
.logobar {
  padding-top: 2rem;
  padding-bottom: 1rem;
  border-top: 1px solid #717171;
  box-shadow: 0 5px 10px $quentity-color;

  .img-fluid {
    height: 3.5rem;
  }

  .btn {
    height: 3.5rem;
    width: 14rem;
    font-size: 2.3rem;
    background-color: #4caf50;
    border-radius: 0.5rem;
    font-weight: 500;
  }

  .shopping-cart {
    width: 50px;
    height: 50px;
  }

  .cart-basket {
    font-size: 1rem;
    position: relative;
    margin-top: -50px;
    margin-left: 40px;
    margin-bottom: -25px;
    width: 20px;
    height: 20px;
    color: #fff;
    background-color: #4caf50;
    border: 1.5px solid #8f8f8f;
    border-radius: 50%;
  }
}

@media (max-width: 992px) {
  .logobar {
    .img-fluid {
      height: 3rem;
    }

    .btn {
      height: 2.8rem;
      width: 12.8rem;
      font-size: 1.8rem;
    }

    .shopping-cart {
      width: 40px;
      height: 40px;
    }

    .cart-basket {
      margin-top: -43px;
      margin-left: 30px;
      margin-bottom: -25px;
    }
  }
  .header-navbar {
    font-size: 20px !important;
  }
  .navbar-dropdown{
    width: 40%;
  }
}


@media (max-width: 576px) {

  .logobar {
    padding-top: 2rem;
    padding-bottom: 1rem;
    border-top: 1px solid #717171;

    .img-fluid {
      height: 2rem;
    }

    .btn {
      height: 2rem;
      width: 9rem;
      font-size: 1.3rem;
      background-color: #4caf50;
      border-radius: 0.5rem;
      font-weight: 500;
    }

    .shopping-cart {
      width: 30px;
      height: 30px;
    }

    .cart-basket {
      font-size: 0.8rem;
      margin-top: -30px;
      margin-left: 20px;
      margin-bottom: -25px;
      width: 15px;
      height: 15px;
    }
  }

  .header-navbar {
    font-size: 17px !important;
  }
}

//Navbar styles
.header-navbar {
  position: unset;
  font-size: 25px;
  color: #555555;
  font-weight: 600;

  .navbar-dropdown {
    border: 2px solid #797979;
    border-radius: 5px;

    #collasible-nav-dropdown {
      &a {
        color: #202020;
      }

      display: flex;
      align-items: center;
    }
  }
}

