$quentity-color: #cacaca;
$pricing-red: #dc3545;
$link-black: #262626;
$link-padding: 6px;
.logo-bar {
    padding-top: 1.1rem;
    padding-bottom: 1rem;
    border-top: 1px solid #e0e0e0;
    box-shadow: 0 2px 6px $quentity-color;
    .img-fluid {
        height: 2.2rem
    }
    .shopping-cart-and-basket {
        .shopping-cart {
            width: 34px;
            height: 34px;
            cursor: pointer;
            stroke: #4caf50;
        }
        .cart-basket {
            padding-top: 1px;
            cursor: pointer;
            font-size: 0.8rem;
            font-weight: 500;
            font-family: 'Montserrat', sans-serif;
            position: relative;
            margin-top: -40px;
            margin-left: 25px;
            margin-bottom: -25px;
            width: 20px;
            height: 20px;
            color: #fff;
            background-color: #4caf50;
            border: none;
            border-radius: 50%;
        }
    }
    .btn {
        height: 2.2rem;
        width: 7rem;
        font-size: 1rem;
        background-color: #4caf50;
        border-radius: 0.3rem;
        font-weight: 500;
    }
}

@media (min-width: 1200px) {
    .logo-bar {
        .shopping-cart-and-basket {
            padding-left: 4rem !important;
        }
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .logo-bar {
        .shopping-cart-and-basket {
            padding-left: 2.5rem !important;
        }
    }
}

@media (max-width: 992px) {
    .header-navbar {
        font-size: 20px !important;
    }
}

@media (max-width: 576px) {
    .logo-bar {
        padding-top: 1.1rem;
        padding-bottom: 1rem;
        border-top: 1px solid #e0e0e0;
        box-shadow: 0 2px 6px $quentity-color;
        .img-fluid {
            height: 2rem
        }
        .shopping-cart-and-basket {
            .shopping-cart {
                width: 30px;
                height: 30px;
            }
            .cart-basket {
                font-size: 0.7rem;
                margin-top: -35px;
                margin-left: 19px;
                width: 18px;
                height: 18px;
            }
        }
    }
    .header-navbar {
        font-size: 10px !important;
    }
}

@media (max-width: 411px) {
    .header-navbar {
        font-size: 17px !important;
    }
}

@media all and (max-width: 360px) {
    .header-navbar {
        font-size: 12px !important;
        .nav-link {
            padding-right: 4px !important;
            padding-left: 4px !important;
        }
    }
}

//Navbar styles
.header-navbar {
    position: unset;
    font-size: 20px;
    font-weight: 400;
    color: red !important;
    .nav-link {
        color: $link-black !important;
        padding-top: $link-padding !important;
        padding-bottom: $link-padding !important;
    }
    .navbar-dropdown {
        border: 1px solid #1E7F35;
        border-radius: 5px;
        #collasible-nav-dropdown {
            &a {
                color: red !important;
            }
            display: flex;
            align-items: center;
        }
    }
    #pricing-link {
        color: $pricing-red !important;
        border: 1px solid $pricing-red;
        border-radius: 5px;
        &:hover {
            color: white !important;
            background-color: $pricing-red;
        }
    }
}