.search-bar {
    border-style: solid;
    border-color: #63b967;
    border-width: 2px;
    border-radius: 1rem;
    margin-top: 2rem;
    height: 4rem;
    width: 50%;

    .search-icon {
      background-color: transparent;
      border: none;
      border-radius: 1rem;
      color: #636363;
      :hover {
        cursor: pointer;
      }

      .search-feather-icon {
        height: 2.7rem;
        width: 2.7rem;
      }
    }

    .search-box {
      color: #555555;
      border: none;
      box-shadow: none !important;
      border-radius: 1rem;
      font-size: 1.7rem;
      font-weight: 500;
      height: 100%;
      margin: auto 2.5rem;
    }
  }
@media (max-width: 992px) {
  .search-bar {
    width: 60%;
    height: 3rem;
    .search-icon {
      .search-feather-icon {
        height: 1.8rem;
        width: 1.8rem;
      }
    }

    .search-box {
      font-size: 1.4rem;
      margin: auto 1.5rem;
    }
  }
}
@media (max-width: 576px) {
  .search-bar {
    width: 75%;
    height: 2.2rem;
    .search-icon {
      .search-feather-icon {
        height: 1.2rem;
        width: 1.2rem;
      }
    }

    .search-box {
      border-radius: 1rem;
      font-size: 1rem;
      margin: auto 1rem;
    }
  }
}

