$grey: #0c0c0c;
$icon-grey: #8E8E8E;
$apply-green: #4CAF50;
$green: #89f302;

.contact-bar{
  .label {
    color: $green;
  }

  .button-login {
    padding-right: 0;
    text-align: start;
  }
  .href {

    color: #000000;

    text-decoration: none;
  }

  .buttons {
    color: $green;
      display:block;
      border-width:1px;
      border-style: solid ;
      border-color: $apply-green;

  }
}


