.contact-bar{
  .label {
    :hover {
      cursor: pointer;
    }
  }
  .buttons {
    color: #89f302;
    :hover {
      cursor: pointer;
      border-width:1px;
      border-style: solid ;
      border-color: #23af23;
    }
  }
}


