.logobar {
  padding-top: 2rem;
  padding-bottom: 1rem;
  border-top: 1px solid #717171;

  .img-fluid {
    height: 3.5rem;
  }

  .btn {
    height: 3.5rem;
    width: 14rem;
    font-size: 2.3rem;
    background-color: #4caf50;
    border-radius: 0.5rem;
    font-weight: 500;
  }

  .shopping-cart {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 992px) {
  .logobar {
    .img-fluid {
      height: 3rem;
    }

    .btn {
      height: 2.8rem;
      width: 12.8rem;
      font-size: 1.8rem;
    }

    .shopping-cart {
      width: 40px;
      height: 40px;
    }
  }
}

@media (max-width: 576px){

  .logobar {
    padding-top: 2rem;
    padding-bottom: 1rem;
    border-top: 1px solid #717171;

    .img-fluid {
      height: 2rem;
    }

    .btn {
      height: 2rem;
      width: 9rem;
      font-size: 1.3rem;
      background-color: #4caf50;
      border-radius: 0.5rem;
      font-weight: 500;
    }

    .shopping-cart {
      width: 30px;
      height: 30px;
    }
  }
}
.cart-basket {
  font-size: 1rem;
  position: relative;
  margin-top: -50px;
  margin-left: 40px;
  margin-bottom: -25px;
  width: 20px;
  height: 20px;
  color: #fff;
  background-color: #4caf50;
  border: 1.5px solid #8f8f8f;
  border-radius: 50%;
}