$product-border:#797979;
$price-color:#4caf50;
$old-price-color:#8f8f8f;

.products{
    padding-left: 10px;
    padding-right: 10px;
}
.product {
    position: relative;
    .product-item {
        margin: 0;
        border: 1px solid $product-border;
        border-radius: 10px;
        height: 100%;

        .product-img img {
            width: 100%;
            height: auto;
        }

        .product-name {
            display: flex;
            justify-content: center;

            h4 {
                font-size: 30px;
                font-weight: bold;
            }
        }

        .product-price {
            .new-price {
                color: $price-color;

                h4 {
                    font-size: 28px;
                    font-weight: bold;
                }
            }

            .old-price-null {
                padding-left: 0;
                display: flex;
                justify-content: center;

                h4 {
                    font-size: 28px;
                }
            }

            .old-price {
                h5 {
                    float: right;
                    margin-top: 7px;
                    font-size: 25px;
                    .strikediag {
                        background: linear-gradient(to left bottom, transparent 47.75%, currentColor 49.5%, currentColor 50.5%, transparent 52.25%);
                    }
                }

                color: $old-price-color;
            }
        }

        .product-quentity {
            border-radius: 2px;

            .form-control {
                border: 1px solid $product-border;
                padding: 3px;
                padding-left: 2px;
                padding-right: 2px;
                text-align: right;
                font-size: 20px;
            }
        }

        .quentity-form {
            display: flex;
        }

        .product-add-cart {
            padding-left: calc(var(--bs-gutter-x) * .5);

            .add-cart-btn {
                background-color: $price-color;
                color: white;
                font-weight: bold;
                width: 100%;
                font-size: 130%;
                border-radius: 8px;
            }
        }
    }
}
@media(max-width:1180px) {
    .product-quentity {
        .form-control {
            padding: 1px !important;
            padding-left: 2px;
            padding-right: 2px;
        }
    }
    .add-cart-btn {
        font-size: 115% !important;
    }
    .product {
        .product-item {
            .product-name {
                h4 {
                    font-size: 28px;
                }
            }

            .product-price {
                .new-price {
                    h4 {
                        font-size: 24px;
                    }
                }

                .old-price-null {

                    h4 {
                        font-size: 24px;
                    }
                }

                .old-price {

                    h5 {
                        padding-right: 0;
                        font-size: 20px;
                    }
                }
            }

        }}
}
@media(max-width:576px) {
    .products{
        padding-left: 5px;
        padding-right: 5px;
    }
    .add-cart-btn {
        font-size: 100% !important;
    }
    .product {
        .product-item {
            .product-name {
                h4 {
                    font-size: 24px;
                }
            }

            .product-price {
                .new-price {
                    padding: 0;
                    display: flex;
                    justify-content: center;

                    h4 {
                        font-size: 20px;
                    }
                }

                .old-price-null {
                    padding-left: 0;

                    h4 {
                        font-size: 20px;
                    }
                }

                .old-price {
                    display: flex;
                    justify-content: center;

                    h5 {
                        padding-right: 0;
                        font-size: 15px;
                    }
                }
            }

            .form-control {
                padding: 0 !important;
            }
        }
    }
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
    margin-left: 10px;
}