.admin-header {
  height: 50px;

  .header-col {

    text-decoration: none;

    &:hover {
      cursor: pointer;
    }

    svg {
      color: #223345;
    }

    .header-text {
      color: #223345;
      font-size: 16px;
      font-weight: 500;
    }
  }

}

