.custom-file-upload {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  height: 19rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f7f9;

  .image-icon {
    height: 4rem;
    width: 4rem;
    stroke-width : 1px !important;
  }
  .uploaded-image {
    height: 19rem;
    width: auto;
  }
}
.create-product-button {
  //width: 10rem;
  font-size: 0.9rem;
  font-weight: bold;
  background-color: $price-color;
  border: none;
}